<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Formulario -->
    <div class="col-md-6 d-flex align-items-center justify-content-center bg-light">
      <div class="w-75">
        <h2 class="mb-4 text-center">Iniciar Sesión</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input 
            type="email" 
            class="form-control" 
            id="email" 
            formControlName="email" 
            placeholder="Ingresa tu correo" 
            [ngClass]="{
            'is-valid': loginForm.get('email')?.valid && loginForm.get('email')?.touched,
            'is-invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            }"
            />
            <div class="valid-feedback">
            ¡Correo válido!
            </div>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(loginForm, 'email') }}
            </div>
          </div>
          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                formControlName="password"
                placeholder="Ingresa tu contraseña"
              />
            <button type="button" class="btn btn-outline-secondary" 
                    (click)="togglePasswordVisibility()" 
                    aria-label="Mostrar u ocultar contraseña">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>

            </div>
            <div *ngIf="formUtils.isValidField(loginForm, 'password')" class="text-danger small">
              {{ formUtils.getFieldError(loginForm, 'password') }}
            </div>
          </div>

          <!-- Botón de login -->
          <button type="submit" class="btn btn-success w-50 d-block mx-auto" 
                  [disabled]="loginForm.invalid">
            Ingresar
          </button>

          <!-- Botón para registrarse -->
          <button type="button" (click)="goToRegister()" 
                  class="btn btn-outline-dark w-50 d-block mx-auto mt-3">
            Registrarse
          </button>

          <!-- Enlace a recover -->
          <div class="text-center mt-3">
            <a (click)="goToRecover()" class="text-decoration-none" style="cursor: pointer;">
              ¿Olvidaste tu contraseña?
            </a>
          </div>
        </form>
      </div>
    </div>

    <!-- Video -->
    <div class="col-md-6 d-none d-md-flex align-items-center p-0">
      <video autoplay muted loop playsinline class="w-100 h-100 object-fit-cover">
        <source src="assets/videos/video3.mp4" type="video/mp4" />
        Tu navegador no soporta el video.
      </video>
    </div>
  </div>
</div>


