<div class="welcome-container text-center">
  <h1 class="animate__animated animate__fadeInDown">¡Bienvenido a Chef's Table!</h1>
  <p class="animate__animated animate__fadeInUp animate__delay-1s">¿Qué deseas hacer?</p>
  
        <button type="button" class="btn btn-primary btn-lg mx-2 animate__animated animate__bounceInLeft animate__delay-1s"
                (click)="goToLogin()">
        Iniciar sesión
        </button>
        <button type="button" class="btn btn-success btn-lg mx-2 animate__animated animate__bounceInRight animate__delay-1s mt-3"
                (click)="goToRegister()">
        Registrarme
        </button>

 </div>


