<div class="visit-us-container">
  <div class="visit-us-title" >
    <h2 class="text-center">Visítanos</h2>
  </div>
  
  <div class="vertical-section">
    <div class="section-item">
      <h3>Ubicación</h3>
      <p>Estamos ubicados en el corazón de la ciudad, en la calle principal, cerca de todas las atracciones y comodidades.</p>
      <p><strong>Dirección:</strong> Calle Falsa 123, Lima, Perú</p>
    </div>

    <div class="section-item">
      <h3>Horario de Atención</h3>
      <p>Ven a visitarnos dentro de los siguientes horarios:</p>
      <ul>
        <li><strong>Lunes a Viernes:</strong> 10:00 AM - 10:00 PM</li>
        <li><strong>Sábados:</strong> 12:00 PM - 11:00 PM</li>
      </ul>
    </div>

    <div class="section-item">
      <h3>Contacto</h3>
      <p>Para reservas y consultas, contáctanos a través de los siguientes medios:</p>
      <ul>
        <li><strong>Teléfono:</strong> +123 456 7890</li>
        <li><strong>Email:</strong> info_restaurant.com</li>
      </ul>
    </div>

  </div>
</div>

