<div class="container">
    <div class="about-us-title">
        <h2 class="text-center mt-2 mb-8">Conócenos</h2>
    </div>

    <div class="row align-items-center mb-4">
        <div class="col-md-6">
            <img src="assets/imgs/about-4.jpg" alt="" class="img-fluid ">
        </div>
        <div class="col-md-6">
            <h3>Nuestra Historia</h3>
            <p>"Nuestra historia gastronómica comenzó en 2005, cuando abrimos las puertas de nuestro primer restaurante con la visión de ofrecer experiencias culinarias excepcionales. Desde entonces, hemos deleitado a nuestros clientes con una fusión única de sabores y técnicas culinarias, convirtiéndonos en un destino gastronómico de confianza."</p>
        </div>
    </div>
  
    <div class="row align-items-center mb-4">
        <div class="col-md-6 order-md-2">
            <img src="assets/imgs/about-5.png" alt="" class="img-fluid ">
        </div>
        <div class="col-md-6 order-md-1">
            <h3>Nuestro Equipo</h3>
            <p>"El equipo de chefs y expertos culinarios de nuestro restaurante combina pasión por la cocina con creatividad y precisión técnica. Cada miembro de nuestro equipo aporta su talento y experiencia para garantizar que cada platillo que llegue a tu mesa sea una obra maestra gastronómica."</p>
        </div>
    </div>
  
    <div class="row align-items-center mb-4">
        <div class="col-md-6">
            <img src="assets/imgs/about-1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Nuestra Misión</h3>
            <p>"En Chef's Table, nos comprometemos a ofrecer una experiencia gastronómica excepcional basada en ingredientes frescos y de la más alta calidad. Nuestra misión es celebrar la diversidad culinaria, ofreciendo platos que resalten los sabores auténticos de cada ingrediente y promoviendo prácticas sostenibles en toda nuestra cadena de suministro."</p>
        </div>
    </div>
  
    <div class="row align-items-center mb-4">
        <div class="col-md-6 order-md-2">
            <img src="assets/imgs/about-7.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <h3>Nuestra Visión</h3>
            <p>"Mirando hacia el futuro, aspiramos a ser reconocidos como el destino gastronómico preferido para quienes buscan calidad, innovación y una experiencia culinaria memorable. Nos esforzamos por expandir nuestro menú con nuevas creaciones que reflejen las tendencias culinarias globales, manteniendo siempre nuestro compromiso con la excelencia y la satisfacción del cliente."</p>
        </div>
    </div>
</div>
  