.visit-us-container {
  background-color: #f8f9fa;
  border-radius: 10px;
}


.visit-us-container h3 {
  color: #555;
}

.section-item {
  margin-bottom: 30px;
}
.vertical-section{
  text-align: center;
}

.visit-us-title{
  background-color: #121435;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

  