<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-lg border-0 rounded-4 p-4">
      <h2 class="text-center mb-4">Restablecer contraseña</h2>

      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <!-- Nueva contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Nueva contraseña</label>
            <div class="input-group">
              <input
                id="password"
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                class="form-control rounded-3"
                placeholder="Ingresa tu nueva contraseña"
              />
              <button type="button" class="btn btn-outline-secondary" 
                      (click)="togglePasswordVisibility()" 
                      aria-label="Mostrar u ocultar contraseña">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
  
          <div *ngIf="formUtils.isValidField(resetForm, 'password')" class="text-danger mt-1">
            {{ formUtils.getFieldError(resetForm, 'password') }}
          </div>
        </div>

        <!-- Confirmar contraseña -->
        <div class="mb-3">
          <label for="password2" class="form-label">Confirmar contraseña</label>
     
          <input
            id="password2"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password2"
            class="form-control rounded-3"
            placeholder="Repite tu contraseña"
          />
          <div *ngIf="formUtils.isValidField(resetForm, 'password2')" class="text-danger mt-1">
            {{ formUtils.getFieldError(resetForm, 'password2') }}
          </div>
        </div>

        <!-- Botón -->
        <button type="submit" class="btn btn-success w-100 rounded-3">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </div>
</div>


