<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-lg border-0 rounded-4 p-4">
      <h2 class="text-center mb-4">Restablecer contraseña</h2>

      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <!-- Nueva contraseña -->
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group">
              <input 
              [type]="showPassword ? 'text' : 'password'" 
              class="form-control"
              id="password"
              formControlName="password" 
              placeholder="Crea una contraseña" 
              [ngClass]="{
                  'is-valid': resetForm.get('password')?.valid && resetForm.get('password')?.touched,
                  'is-invalid': resetForm.get('password')?.invalid && resetForm.get('password')?.touched
                }" />
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()"
                aria-label="Mostrar u ocultar contraseña">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
              <div class="valid-feedback">
                ✅ Contraseña válida
              </div>
              <div class="invalid-feedback">
                  {{ formUtils.getFieldError(resetForm, 'password') }}
              </div>
            </div>


          </div>


          <!-- Confirm Password -->
          <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirmar contraseña</label>

            <input type="password" class="form-control" id="confirm-password" formControlName="confirmPassword"
              placeholder="Repite tu contraseña" [ngClass]="{
            'is-valid': resetForm.get('confirmPassword')?.valid && resetForm.get('confirmPassword')?.touched,
            'is-invalid': resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched
            }" />

            <div class="valid-feedback">
              ✅ ¡Las contraseñas coinciden!
            </div>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(resetForm, 'confirmPassword') }}
            </div>

          </div>

        <!-- Botón -->
        <button type="submit" class="btn btn-success w-100 rounded-3" [disabled]="resetForm.invalid">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </div>
</div>


