<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-lg border-0 rounded-4 p-4">
      <h2 class="text-center mb-4">Recuperar contraseña</h2>

      <form [formGroup]="recoverForm" (ngSubmit)="onRecover()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control rounded-3"
            placeholder="Ingresa tu correo"
          />
          <div *ngIf="formUtils.isValidField(recoverForm, 'email')" class="text-danger mt-1">
            {{ formUtils.getFieldError(recoverForm, 'email') }}
          </div>
        </div>

        <button type="submit" class="btn btn-success w-100 rounded-3"
          [disabled]="recoverForm.invalid">
          Enviar enlace
        </button>
        <button
          type="button"
          (click)="goToLogin()"
          class="btn btn-outline-dark w-100 rounded-3 mt-3"
        >
          Volver al Inicio de Sesión
        </button>
      </form>
    </div>
  </div>
</div>

